*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings/
target/

src/main/config/DemoService.wsdl
src/main/config/demo-binding.xml
src/main/config/pojo.xsd
src/main/webapp/WEB-INF/services/
